*{margin: 0; padding: 0;}
li{list-style: none;}
li a{text-decoration: none; color: #2d2d2d; display: block; /*인라인요소 -> 블록요소*/}
.wrap{width: 100%;}
img{width: 100%;}

header{width: 100%; height:120px; float: left; z-index: 100;
                             /*z-index는 반드시 position과 함께 기술*/ 
       position: relative;}
header .logo{width: 75px; float: left; margin-left: 85px; margin-top: 20px; }
header nav{float: left; margin-left: 320px; margin-top: 12px; margin-bottom: -10px;}

header nav>ul>li{float: left; margin-top: 12px;}
header nav>ul>li>a{padding: 5px 40px; font-weight: bold; font-size: 15px;}
header nav>ul>li:hover>a{color: #ad0407; }
header nav .sub {display: none; }
header nav .sub li:first-child {margin-top: 10px; }
header nav .sub li:last-child {padding-bottom: 10px;}
header nav .sub li a{font-size: 14px; padding: 7px; text-align: center; }
header nav .sub li a:hover{text-decoration: underline; }

/*주메뉴에 마우스 오버했을 때 서브메뉴 보임*/
header nav>ul>li:hover .sub{display: block; 
                       background-color:white;/*rgba(255,255,255,0.5);*/
                       border-top: 2px solid #333; margin-top: 25px;}



.right_area{width: 100%; height: 40px; border-bottom: 1px solid #797979; }
.right_area ul{float: right; margin-right: 85px;}
.right_area ul li{float: left; line-height: 40px; margin-left: 20px;}
.right_area ul li a{font-size: 11px; font-weight: bold; color: #111111; }
.right_area ul li img{width: 17px; margin-top: 11px; }
.right_area .bag{margin-left: 3px;}
.right_area .search{margin-left: 40px; }



/* 슬라이드 */
section.slide{width: 100%; margin-top: -15px; float: left; position: relative;}
section.slide ul{width: 100%; height: 768px; }
section.slide ul li{width: 100%; height: 768px; position: absolute; }
section.slide ul li:first-child{z-index: 10;}
section.slide .prev{position: absolute; top:50%; width: 30px; left: 20px; opacity: 0.5; z-index: 20;}
section.slide .next{position: absolute; top:50%; width: 30px; right: 20px; opacity: 0.5; z-index: 20;}
section.slide .prev:hover{opacity: 1; }
section.slide .next:hover{opacity: 1; }



/* best */
section.best{width: 100%; /*height: 743px;*/ margin-top: 10px; float: left;}
section.best h1{width: 129px; margin: 0 auto; margin-top: 50px;}
section.best ul{width: 1280px; margin: 0 auto; margin-top: 80px;}
section.best ul li{width: 410px; float: left; margin-right: 25px;}
section.best ul li:last-child{margin-right: 0;}



/* product */
section.product{width: 100%; float: left; margin-top: 120px;}
section.product h1{width: 173px;; margin: 0 auto; }
section.product p{text-align: center; margin-top: 25px; }
section.product ul {width: 1280px; margin: 0 auto; margin-top: 80px;}
section.product ul li{float: left; width: 305px; height: 470px; margin-right: 20px;}
section.product ul li:nth-child(4n){margin-right: 0;}
section.product ul li .pro_li {position: relative; width: 100%; height: 305px;}
section.product ul li .pro_li div{position: absolute;}
section.product ul li .pro_li .front{width: 100%; display: none;}
section.product ul li .pro_li:hover .front{display: block;}
section.product ul li .pro_li2 p:nth-of-type(2){margin-top: 7px;
        font-weight: bold; margin-bottom: 7px;}
section.product ul li .pro_li2 p:first-child{font-size: 15px;}
section.product ul li .pro_li2 .c1 {width: 53px; margin: 0 auto;}
section.product ul li .pro_li2 .c2 {width: 39px; margin: 0 auto;}



/* movie */
section.movie {width: 100%; float: left; margin-top: 80px;}
section.movie h1{width: 212px; margin: 0 auto; }
section.movie .movie_in{width: 1280px; margin: 0 auto; 
                        margin-top: 80px;}



/*love*/
section.love{width: 100%; float: left; margin-top: 100px;
             position: relative;}
section.love .fixed_bg{position: absolute; width: 100%; height: 330px;
background-image: url(../images/background.jpg); background-attachment: fixed; z-index: 1;/*뒤쪽으로 순서 변경*/}
section.love .fixed_bg h1{margin: 0 auto; width: 87px; margin-top: 110px;}
section.love .love_down{width: 1280px; height: 400px; margin: 0 auto; margin-top: 230px; position: relative; z-index: 10; background-color: #f3edde;}
     /* z-index와 position은 같이 사용 */
section.love .love_down .left_l{width: 640px; float: left;}
section.love .love_down .right_l{float: left; margin-top: 60px; margin-left: 70px;}
section.love .love_down .right_l h1{margin-bottom: 10px; width: 293px;}
section.love .love_down .right_l p:nth-of-type(1){font-weight: bold;
margin-bottom: 60px; line-height: 25px;}
section.love .love_down .right_l p:nth-of-type(2){font-size: 13px; 
    line-height: 20px;}
section.love .love_down .right_l .more{width: 151px; margin-top: 15px;}



/*  magazine */
section.magazine{width: 100%; float: left; margin-top: 100px; }
section.magazine h1{width: 131px; margin: 0 auto;}
section.magazine ul{width: 1280px; margin: 0 auto; margin-top: 80px;}
section.magazine ul li{float: left; margin-bottom: 60px; 
border: 1px solid #c0c0c0; height: 537px;}
section.magazine ul li:hover{margin-top: -7px; transition: all 0.5s;}
section.magazine ul li .photo{width: 100%; }
section.magazine ul li p{text-align: center; }
section.magazine ul li p:nth-of-type(1){font-size: 18px; font-weight: bold;
                        margin-top: 20px;}
section.magazine ul li p:nth-of-type(2){font-size: 13px; margin-top: 3px;}
section.magazine ul .more2{width: 151px; margin: 0 auto; }



/* insta*/
section.insta{width: 100%; float: left; margin-top: 60px; 
       background-color: #f5f5f5; padding-top: 70px; }
section.insta h1{width: 187px; margin: 0 auto;}
section.insta ul{width: 1280px; margin: 0 auto; }
section.insta ul li{float: left; margin-top: 70px; padding-bottom: 70px;}




/* footer */
footer{width: 100%; float: left; background-color: #2d2d2d; padding-bottom: 40px;}
.footer_wrap{width: 100%; margin: 0 auto; margin-top: 15px; 
    border-bottom:1px solid #434343; }
.footer_wrap .ft_wrap{width: 1280px; margin: 0 auto; height: 30px; }
.footer_wrap .ft_wrap .f_nav{float: left; margin-top: 1px;}
.footer_wrap .ft_wrap .f_nav li{float: left; margin-right: 19px;}
.footer_wrap .ft_wrap .f_nav li a {color: #a2a2a2; font-size: 12px;
               font-weight: bold;}
.footer_wrap .ft_wrap .sns {float: right; margin-top: -4px;}
.footer_wrap .ft_wrap .sns li{width: 25px; float: left; margin-left: 5px;}

.f_nav{float: left;}
.f_nav ul li{float: left;}
.footer .fb_wrap{width: 100%; margin-top: 10px; float: left;}
.fr_wrap{float: right;}

.footer_wrap .fb_wrap{width: 1280px; margin: 0 auto; margin-top: 5px;}
.footer_wrap .fb_wrap ul{margin-top: 20px;}
.footer_wrap .fb_wrap .fb_l{float: left;}
.footer_wrap .fb_wrap .fb_l p{font-size: 12px; line-height: 22px;}
.footer_wrap .fb_wrap .fb_l .fl_wrap span{color: #da1d1d;}
.footer_wrap .fb_wrap .fb_r .fr_wrap span{color: #da1d1d;}

.footer_wrap .fb_wrap .fb_r{float: right; margin-top: 28px;}
.footer_wrap .fb_wrap .fb_r .fr_wrap p:nth-of-type(1){font-size: 13px;
       font-weight: bold; color: #dcdcdc;}
.footer_wrap .fb_wrap .fb_r .fr_wrap p:nth-of-type(2){font-size: 25px;
      font-weight: bold; color: #dcdcdc; margin-top: 5px;}
.footer_wrap .fb_wrap .fb_r .fr_wrap p:nth-of-type(3){margin-top: 10px;
       line-height: 20px;}
.footer_wrap .fb_wrap ul li h1{width: 33px;}
.footer_wrap .fb_wrap ul li p{color: #a5a5a5; font-size: 12px; line-height: 20px;}


